<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403</title>
    <style>
    @font-face {
        font-family: 'Cabin';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf');
    }
    .logo_container {
        width: 400px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login_container h2 {
        color: #7E7B7B;
        font-family: 'Cabin';
        font-size: 3rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }
    </style>
</head>
<body>

<div class="login_container">
    <h2>No tiene permitido el acceso a esta página :( </h2>
</div>

</body>
</html>