/* Fuentes */
@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ABeeZee/ABeeZee-Regular.ttf');
}

@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf');
}

/* (<a>) */
a {
    text-decoration: none; 
    color: inherit;
    font-weight: inherit; 
}

/* Body */
.bodyInterno {
    background: #F3F3F3;
    display: block;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #f4f4f4;
    display: flex;
    font-family: 'Cabin';
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Botones */
.boton {
    align-items: flex-start;
    background-color: #0CC0DF;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: 'Cabin';
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
    padding: 10px 239px;
    backdrop-filter: blur(2px);
}

.botonTipo {
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-weight: 500;
    margin-right: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.botonTipo.activo {
    background-color: #0CC0DF;
    color: #fff;
}

button:hover {
    background-color: #06697a;
}

/* Contenedor */
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Crear Usuario */
.crearUsuario {
    color: #0CC0DF;
    font-family: 'Cabin';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

/* Encabezado */
header {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 22%;
}

header img {
    display: inline;
    height: auto;
    margin: 0;
    padding: 0;
    width: 16%;
}

/* Etiquetas e Inputs */
h2 {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

label,
input {
    display: block;
    margin-bottom: 10px;
}

/* Menú */
.menu {
    color: #767676;
    display: inline;
    font-family: 'Cabin';
    font-size: 24px;
    font-weight: 400;
}

.menu-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 90px;
    padding: 0;
}

.menu li a:hover {
    text-decoration: underline;
}


/* Miniheader */
.miniheader {
    color: hsl(0, 2%, 61%);
    font-family: 'Cabin';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Página Actual */
.paginaActual {
    color: #0CC0DF;
    font-family: 'Cabin';
    font-weight: 500;
}

/* Títulos */
.titulosGrandes {
    color: #7E7B7B;
    font-family: 'Cabin';
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titulosMedianos {
    color: #7E7B7B;
    font-family: 'Cabin';
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height
}