@font-face {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf');
}

body {
    font-family: 'Cabin';
  }
  
h2 {
    margin: 16px;
}
.container {
    margin-top: 100px;
    padding: 32px;
  }

.description{
    color: #7E7B7B;
    font-family: 'Cabin';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin: 16px;
  }

  .select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #0CC0DF;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #0CC0DF;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    /*background: url("../img/arrow-down.svg");*/
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0CC0DF;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #089ab4;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #089ab4;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }

.botonOyA {
    margin: 16px;
    flex-shrink: 0;
    border-radius: 0px;
    align-items: flex-start;
    background-color: #0CC0DF;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Cabin';
    font-size: 18px;
    font-weight: 100;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    margin-right: 10px;
  
    
    gap: 10px;
    
    padding: 10px 100px;
  
    backdrop-filter: blur(2px);
    transition: background-color 0.3s ease;

    
  }

.botonOyA:hover {
    background-color: #076c7e; /* Cambia el color al pasar el mouse sobre el botón */
}

.botonOyA:active {
    background-color: #043844; /* Cambia el color cuando el botón está siendo presionado */
}
  
  
  /* Botones */
  .botonUnir {
    width: 10%;
    height: 10%;
  }
  
  button:hover {
    background-color: #06697a;
  }

.botonUnir {
    background-color: #0CC0DF;  /* Color de fondo azul */
    color: white;  /* Texto en blanco */
    padding: 12px 24px;  /* Padding alrededor del texto */
    border: none;  /* Sin bordes */
    border-radius: 4px;  /* Bordes redondeados */
    font-size: 18px;  /* Tamaño de letra más grande */
    cursor: pointer;  /* Cursor en forma de mano */
    transition: background-color 0.3s;  /* Animación al cambiar el color de fondo */
    outline: none;  /* Sin borde alrededor al hacer clic */
    margin-top: 15px;  /* Espacio en la parte superior */
    width: 150px;
}


  @media (max-width: 767px) {

    .botonOyA {
        width: 100%;
        padding: 10px;
    }

    
}