
ul .licita {
    width: 60%;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.licita {
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
    color: #2C3E50;
    font-size: 18px;
    transition: background-color 0.2s;
}

.licita:last-child {
    border-bottom: none;
}

.licita:hover {
    background-color: #f0f0f0;
}


.titulosMedianito {
    font-size: 22px;
    color: #7E7B7B;
    text-align: center;
    margin-top: 20px;
}

.ranking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.ranking-list {
    width: 80%;
    padding-left: 30px;
    list-style-type: decimal;
}

.ranking-item {
    padding: 10px 0;
    margin: 5px 0;
    font-size: 18px;
    color: #2C3E50;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.2s, transform 0.2s;
}

.ranking-item:hover {
    background-color: #e1e1e1;
    transform: translateY(-3px);
}

.btn-descargar {
    background-color: #fdd835;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: left;
    margin: 10px;
    text-align: center;
}


.btn-descargar:hover {
    background-color: #fccf33;
    color: white;
}


