<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/estiloGeneral.css">
    <link rel="stylesheet" href="css/listarComunidades.css">
    <meta charset="utf-8">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Crear Comunidad</title>
</head>

<body class="bodyInterno centrado">

<!-- HEADER -->
<header>
    <div class="menu-container">
        <ul class="menu">
            <li><a href="/inicio">Inicio</a></li>
            <li> <a href="/perfil"> Perfil </a></li>
            <li><a href="/incidentes">Incidentes</a></li>
            <li class="paginaActual"><a href="/comunidades">Comunidades</a></li>
            <li ><a href="/rankings">Rankings</a></li>
        </ul>
        <img src="img/logo.png" alt="logo-header">
    </div>
    <a href="#" id="cerrarSesionLink">
          <div class="cerrar-sesion-icon">
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: #ff4db5;"></i>
          </div>
    </a>
</header>

<div>
    <h1 class="titulosMedianos">  Nueva comunidad </h1>
</div>




<script src="https://kit.fontawesome.com/a39dd266ae.js" crossorigin="anonymous"></script>

</body>
</html>
