<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Registro</title>
</head>

<body>
<div class="logo_container">
    <img class="logo" src="img/logo.png" alt="logo-header">
</div>

<div class="login_container">
    <h2>Crear Usuario</h2>
    <form method="POST" onsubmit="return validarFormulario();" action="/signup">
        <div class="input_container">
            <input id="campoNombreUsuario" type="text" name="nombre" placeholder="Nombre de usuario">
        </div>
        <div class="input_container">
            <input id="campoContrasena" type="password" name="contrasenia" placeholder="Contraseña">
        </div>
        <!-- MENSAJE DE ERROR -->
        {{#if errorMessage}}
            <div class="error-message">
                {{errorMessage}}
            </div>
        {{/if}}
        <div class="seleccionTipo" id="grupo">
            <button id="botonCorreo" class="botonTelefonoYMail activo" onclick="seleccionarTipo('correo')" type="button" data-valor-medio="EMAIL" >Email</button>
            <button id="botonTelefono" class="botonTelefonoYMail" onclick="seleccionarTipo('telefono')" type="button" data-valor-medio="WHATSAPP">Teléfono</button>
        </div>


        <input type="hidden" id="tipoSeleccionado" name="tipoSeleccionado" value="correo">
        <input type="hidden" name="valor-medio" id="campoValorMedio" value="EMAIL">

        <div class="input_container">
            <input type="text" id="campoTelefonoYMail" name="telefonoYMail" placeholder="Correo electrónico" class="miniheader" >
        </div>

        <button type="submit" class="boton posicionBotonIniciarSesion">
            Crear
        </button>
    </form>

</div>
<script src="js/inicioSesion.js"></script>

</body>
</html>